html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
}

.sidebar {
    grid-row: span 2;
    display: grid;
    grid-template-rows: 6rem repeat(5, 3rem) 6rem repeat(3, 3rem);
    background-color: #363740;
    font-size: 1rem;
    padding-top: 48px;
}

.sidebar img {
    width: 24px;
    height: 24px;
    filter: invert(71%) sepia(6%) saturate(458%) hue-rotate(195deg) brightness(95%) contrast(85%);
}

.sidebar a:first-of-type img {
    width: 48px;
    height: 48px;
}

.sidebar a {
    display: grid;
    height: 3rem;
    text-decoration-line: none;
    padding-left: 48px;
    border-left: 4px solid #363740;
    color: #a4a6b3;
}


.sidebar a:first-of-type {
    font-size: 1.375rem;
    padding-left: 24px;
}

.sidebar a div {
    align-self: center;
}

.sidebar .link-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
    width: min-content;
    color: inherit;
}

.sidebar .color-fill {
    filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(1765%) hue-rotate(184deg) brightness(100%) contrast(103%);
}

.sidebar .scale {
    transform: scale(1.1);
}

.main-grid > div:nth-child(n+2) {
    border: 1px solid;
}