@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 25vh 1fr;
    min-height: 100vh;
    font-family: 'Mulish', sans-serif;
}

nav {
    grid-row: span 2;
    display: grid;
    grid-template-rows: 6rem repeat(5, 3rem) 6rem repeat(3, 3rem);
    background-color: #363740;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 3rem;
}

nav img {
    width: 24px;
    height: 24px;
    filter: invert(71%) sepia(6%) saturate(458%) hue-rotate(195deg) brightness(95%) contrast(85%);
}

nav a:first-of-type img {
    width: 48px;
    height: 48px;
}

nav a {
    display: grid;
    height: 3rem;
    text-decoration-line: none;
    padding-left: 48px;
    border-left: 4px solid #363740;
    color: #a4a6b3;
}


nav a:first-of-type {
    font-size: 1.375rem;
    padding-left: 24px;
}

nav a div {
    align-self: center;
}

nav .link-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
    width: min-content;
    color: inherit;
}

nav .color-fill {
    filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(1765%) hue-rotate(184deg) brightness(100%) contrast(103%);
}

nav .scale {
    transform: scale(1.1);
}

nav a:hover {
    border-left-color: #dde2ff;
    color: #dde2ff;
    background-color: #3e4049;
}

header {
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
    background-color: #75778a;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

form {
    position: relative;
    top: 55px;
    left: 48px;
    width: calc(90% - 48px);
    height: min-content;
}

input[type=search] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
}

input[type=search]::-webkit-search-cancel-button {
    display: none;

}

input[type=search]:focus {
    outline: none;
}

.search-wrapper {
    display: grid;
    grid-template-columns: 1fr 25fr;
    gap: 1rem;
    border-radius: 1rem;
    padding: 5px 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(23, 23, 23, 0.5);
}

.search-wrapper img {
    width: 24px;
    filter: invert(71%) sepia(6%) saturate(458%) hue-rotate(195deg) brightness(95%) contrast(85%);
}

.profile-grid {
    align-self: end;
    justify-self: center;
    display: grid;
    grid-template-columns: 32px 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 31px;
}

.profile-grid img[alt="Notification icon"] {
    filter: invert();
    cursor: pointer;
}

.profile-grid img[alt="Notification icon"]:hover {
    transform: scale(1.1);
}

.profile-grid img[alt="Avatar"] {
    width: 5rem;
    cursor: pointer;
    filter: drop-shadow(0 0 1px #fff);
}

.username {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.handle-grid {
    display: grid;
    grid-template-columns: 90px 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 30px;
    width: fit-content;
    position: relative;
    top: 36px;
    left: 48px;
    height: max-content;
    font-weight: bold;
    color: #fff;
}

.handle-grid img {
    grid-row: 1 / 3;
    cursor: pointer;
    filter: drop-shadow(0 0 1px #fff);
}

.greeting {
    align-self: end;
    font-size: 18px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.handle {
    font-size: 24px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.button-grid {
    display: grid;
    grid-template: 2rem / repeat(3, 6rem);
    gap: 2rem;
    width: min-content;
    height: min-content;
    position: relative;
    top: 5.2rem;
    left: 2.8rem;
}

button {
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    color: #fff;
    background-color:#8a8875;
    text-shadow: 1px 1px 2px #000;
    box-shadow: inset 0 -0.6rem 0 0.35rem rgba(0,0,0,0.17);
    filter: drop-shadow(1px 1px 1px #000);
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.content-grid {
    display: grid;
    grid-template: 10% 50% 40% / 70% 30%;
    padding: 1rem 3rem 4rem 3rem;
    background-color: #9ea0ad;
}

.projects-grid {
    display: grid;
    grid-template: repeat(3, calc(100% / 3)) / 50% 50%;
    grid-column: 1;
    grid-row: 2 / 4;
    gap: 1.2rem;
}

.projects-header {
    align-self: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    cursor: default;
}

.projects-grid article {
    display: grid;
    gap: 1rem;
    background-color: #f2f3f4;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.projects-grid article:hover {
    background-color: #fff;
}

.projects-grid h3 {
    font-weight: bold;
    font-size: 1.1rem;
}

.projects-grid .icon-grid {
    display: grid;
    grid-template-columns: repeat(3, 24px);
    gap: 1.5rem;
    justify-self: end;
}

.projects-grid img {
    width: 24px;
}

.projects-grid img:nth-of-type(1):hover {
    filter: invert(81%) sepia(49%) saturate(3989%) hue-rotate(6deg) brightness(103%) contrast(107%);
    transform: scale(1.25);
}

.projects-grid img:nth-of-type(2):hover {
    filter: invert(58%) sepia(13%) saturate(1370%) hue-rotate(169deg) brightness(97%) contrast(91%);
    transform: scale(1.25);
}

.projects-grid img:nth-of-type(3):hover {
    filter: invert(41%) sepia(18%) saturate(1242%) hue-rotate(147deg) brightness(95%) contrast(89%);
    transform: scale(1.25);
}
